body {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

h1 {
    color: white;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

.containerCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



